html {
  box-sizing: border-box;
  font: 16px/1.5 PT Sans, sans-serif;
  color:rgb(16, 42, 143);
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, form, input, select, button {
  font: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}