.login-box {
  text-align: center;
  min-height: 78vh;
  display: flex;
  justify-content: center;
  padding-top: 5em;
  margin-bottom: 2em;
}

.login-title {
  padding: 0;
  margin-top: 0;
  color: rgb(16, 42, 143);
  text-shadow: 2px 2px #c4aec7;
  font-weight: 600;
  font-size: 2em;
}

.login-form {
  padding: 3em;
  width: 30%;
  height: 90%;
  box-shadow: 0 0 1em 0 rgb(16, 42, 143);
  display: flex;
  flex-direction: column;
}

.login-input {
  height: 2.5em;
  font-size: 1.3em;
  border: none;
  margin-top: 1em auto;
  border-radius: 0.3em;
}

.login-input input {
  width: 100%;
  text-align: center;
}

input:focus::placeholder{
  color: rgb(16, 42, 143);
}

.submit-btn {
  background-color: transparent;
  border-radius: 0.2em;
  height: 2.7rem;
  border-color: white;
  color: rgb(16, 42, 143);
  text-shadow: 2px 2px #c4aec7;
  font-weight: 600;
  font-size: 1.5em;
  width:10em;
  margin-top: 3em;
}

.signup-link {
  padding-left: 0.5em;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
  color: rgb(16, 42, 143);
}

.error {
  
  color: red;
  font-size: 0.8em;
}