#root > main > div > h4 {
margin: 1em 0; 
}


.navigation>* {
    padding: 10px;
    margin: 10px;
}

.navigation .active {
    border: 1px solid black;
    background-color: chartreuse
}

h2 {
    margin-left: 20px;
}