.main-all-playlists h1 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.8em;
  color: rgb(16, 42, 143);
  text-shadow: 2px 2px #c4aec7;
  font-weight: 600;
  font-size: 3em;
}

.main-all-playlists h3 {
  text-align: center;
}

.main-all-playlists {
  min-height: 78vh; 
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.playlists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.playlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 15em;
  min-height: 15em;
  margin: 2em;
  box-shadow: 0 0 1em 0 rgb(16, 42, 143);
  border-radius: 0.3em;
  color: rgb(16, 42, 143);
}

.img-playlist {
  height: 10em;
  width: 100%;
}