.register-box {
  text-align: center;
  min-height: 78vh;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  margin-bottom: 2em;
}

.register-title {
  padding: 0;
  margin-top: 0;
  color: rgb(16, 42, 143);
  text-shadow: 2px 2px #c4aec7;
  font-weight: 600;
  font-size: 2em;
}

.register-form {
  padding: 3em;
  width: 45%;
  height: 90%;
  box-shadow: 0 0 1em 0 rgb(16, 42, 143);
  display: flex;
  flex-direction: column;
}

.input-div {
  width: 80%;
  height: 2em;
  font-size: 1.3em;
  border: none;
  margin: 1.3em auto;
  border-radius: 0.3em;
  display: block;
}

.input-div input {
  width: 100%;
  text-align: center;
}

input:focus::placeholder {
  color: rgb(16, 42, 143);
}

.submit-btn {
  background-color: transparent;
  border-radius: 0.2em;
  height: 2.7rem;
  border-color: white;
  color: rgb(16, 42, 143);
  text-shadow: 2px 2px #c4aec7;
  font-weight: 600;
  font-size: 1.5em;
  width:10em;
  margin-top: 1em;
}

.error {
  color: red;
  font-size: 0.8em;
}