.main-img {
  background: no-repeat center center;
  background-size:cover;
  color: #CCC;
  text-align: center;
  padding: 4em 0;
}

.title {
  text-align: center;
}

.main-img h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.3em;
  padding-bottom: 1em;
}

.main-img h1 span {
  display: block;
}

.main-img p {
  padding-bottom: 1em;
  font-weight: 400;
}

.main-how-work {
  padding: 2em 0;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: rgb(16, 42, 143);
}

.main-how-work ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-how-work ul li {
  width: 30%;
  list-style: none;
}

.main-how-work h3 {
  padding-bottom: 2em;
  letter-spacing: 0.1em;
}

.main-how-work .number {
  font-size: 28px;
}

.main-how-work h4 {
  font-size: 24px;
  font-weight: 400;
}

.main-how-work .number:before,
.main-how-work .number:after {
  display: inline-block;
  content: '';
  width: 25px;
  height: 2px;
  background: rgb(16, 42, 143);
  margin: 0 0.5em 0.3em 0.5em;
}

.main-bottom {
  text-align: center;
  padding-bottom: 2em;
}

.signup-btn {
  text-decoration: none;
  color: rgb(16, 42, 143);
  font-weight: 700;
}