.tracks {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: rgb(16, 42, 143);
}


.track {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  border-bottom: 1px solid rgb(16, 42, 143);
}

/* .ul:last-child {
  border-bottom: none;
} */

.artist-pic {
  height: 3.5em;
  padding-right: 1em;
}

.artist-pic img{
  height: 100%;
  border-radius: 5em;
}

.track-song {
  width: 20%;
}

.track-genre {
  width: 15%;
}

.track-album {
  width: 25%;
}

.playlist-duration {
  padding-top: 1em;
  width: 5%;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(16, 42, 143);
}
