.create-pl-box {
  text-align: center;
  min-height: 78vh;
  display: flex;
  justify-content: center;
  padding-top: 3em;
  margin-bottom: 1em;
}

.create-title {
  padding: 0;
  margin-top: 0;
  color: rgb(16, 42, 143);
  text-shadow: 2px 2px #c4aec7;
  font-weight: 600;
  font-size: 2em;
}

.create-pl-form {
  padding: 3em;
  width: 50%;
  min-height: 70%;
  box-shadow: 3px 3px 10px;
  display: flex;
  flex-direction: column;
}

.create-pl-inputs form {
  min-height: 60vh;
}

.input-div {
  height: 2.5em;
  font-size: 1.3em;
  border: none;
  margin-top: 1em;
  border-radius: 0.3em;
  display: flex;
  justify-content: space-between;
}

.input-div label {
 padding-left: 0;
}

.district {
  padding-top: 1em;
}

.district-label {
  padding-right: 1em;
}

.checkbox-div {
  height: 3.5em;
  font-size: 1.3em;
  margin-top: 2em;
}

.checkbox-div label{
  padding-left: 0.3em;
}

.num input {
  width: 2em;
}
 
.generate-h3 {
  margin-top: 1em;
  font-size: 1.4em;
}

.recomended {
margin: 1em auto 2em auto;
}

.create-name {
  font-size: 1.2em;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 1em;
}

.pics {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 5em;
}

.pic {
  width: 15em;
  height: 10em;
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 3em 0 3em; */
  justify-content: space-between;
}

.pic img, 
.final-pic img  {
  width: 100%;
  height: 100%;
}

.location p {
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: 700;
}

.final-pic {
  padding: 1em;
  height: 19em;
  width: 28em;
  margin: 0 auto;
}

.repeat-artist p {
  margin-top: 2em;
}

.last {
  margin-bottom: 3em;
}