.loading {
  min-height: 78vh; 
}

.loading-h4 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.8em;
  color: rgb(16, 42, 143);
  text-shadow: 2px 2px #c4aec7;
  font-weight: 600;
  font-size: 3em;
}
