header {
  background-color: rgb(16, 42, 143);
  border-bottom: 1px solid #CCC;
}

header nav {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  min-height: 5vh;
}

.logo {
  width: 2em;
  height: 2em;
  background-color: transparent;
  padding-top: 0.3em;
  margin-right: 0.5em;
}


header nav ul {
  display: flex;
}

li {
  list-style: none;
}

header nav ul .nav-btn {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0.1em;
  margin: 0.5em;
  letter-spacing: 0.1em;
  color: #CCC;
}

header nav ul .nav-btn:hover {
  cursor: pointer;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
}

header nav ul li a {
  text-decoration: none; 
}

.logout-text {
  color: #CCC;
  font-weight: 700;
  padding-top: 0.3em;
  padding-right: 0.5em;
}

.logout-btn,
.profile-btn {
  color: #CCC;
  background: none;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  padding-top: 0.1em;
  padding-left: 0.2em;
}
