.main-top-playlists {
  background: rgb(16, 42, 143);
  color: #CCC;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-bottom: 2em;
}

.main-top-playlists h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  padding: 1em 0;
}

.main-top-playlists ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 4em;
}

.main-top-playlists ul li {
  width: 30%;
  max-width: 15em;
  text-align: center;
  padding-bottom: 1em;
  color: rgb(16, 42, 143);
  background-color: white;
  box-shadow: 0 0 2em 0 rgb(16, 13, 29);
  border-radius: 0.3em;
}

.img-playlist {
  width: 15em;
  height: 10em;
}