footer {
  background-image: linear-gradient(
    to bottom,
    rgb(21, 54, 182),
    rgb(33, 57, 150),
    rgb(16, 42, 143),
    rgb(15, 38, 126),
    rgb(7, 26, 102) 
  );

  color: #CCC;
}

.footer-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 0;
  min-height: 10vh;
}

/* .footer-container section {
  width: %;
} */

footer p {
  text-align: center;
  padding-bottom: 1em;
}
