.main-img {
  background: no-repeat center center;
  background-size:cover;
  color: white;
  text-align: center;
  padding: 4em 0;
}

.main-img h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.3em;
  padding-bottom: 1em;
}

.main-img p {
  padding-bottom: 1em;
  font-weight: 400;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.container {
  display: grid;
}