.main-playlist {
  min-height: 78vh; 
  color: rgb(16, 42, 143);
}

.single-playlist {
  display: flex;
  justify-content: space-evenly;
  margin: 3em auto 1em auto;
  width: 70%;
  box-shadow: 0 0 1em 0 rgb(16, 42, 143);
  border-radius: 0.1em;
}

.playlist-cover,
.playlist-details {
  width: 40%;
}

.img-box img {
  margin: 3em 0;
  width: 24em;
  height: 18em;
}

.playlist-details li {
  padding-bottom: 0.3em;
}

.playlist-header {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
}

.playlist-header h1 {
  text-align: center;
}

.playlist-btns {
  margin-top: 0.7em;
}

.playlist-edit-btn,
.playlist-delete-btn {
  color: rgb(16, 42, 143);
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  padding-left: 0.2em;
}

.playlist-edit-btn:active,
.playlist-delete-btn:active {
color: rgb(16, 42, 143);
transform: scale(1.2);
}

.playlist-info {
  margin-top: 2em;
}

.playlist-info p {
  padding-bottom: 0.5em;
}

.info-login,
.info-signup {
  font-weight: 700;
  text-decoration: none;
  color: rgb(16, 42, 143);
}

.accordion {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2em;
}

#panel1a-header {
  box-shadow: 0 0 1em 0 rgb(16, 42, 143); 
  min-height: 4.5em;
}